<html>
  <head>
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap-responsive.min.css' />
  </head>
  <body>
    <nav class="">
      <a class="navbar-brand" href="#">Music Manager</a>
      <ul class="nav nav-pills">
        <li role="presentation"><a href="/" >Add IceCast Songs</a></li>
        <li role="presentation"><a href="/db/list">Show all Data</a></li>
      </ul>
    </nav>